<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ APPLICATION_TITLE }}&mdash;{% block title %}{% endblock %}</title>
		{% block tag_fonts %}
		{% autoescape false %}{{ FONTS_CODE }}{% endautoescape %}
		{% endblock %}
		{% block tag_stylesheets %}
                <link rel="stylesheet" type="text/css" charset="utf-8" media="screen" href="{{ HTML5RESET_CSS_URL }}" />
		<link rel="stylesheet" type="text/css" charset="utf-8" media="screen" href="{{ CSS_URL }}styles.css" />
		{% endblock %}
                <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
	</head>
	<body>
		{% block tag_body %}{% endblock %}
		{% block tag_base_scripts %}
		<script type="text/javascript" charset="utf-8" src="{{ JQUERY_URL }}"></script>
		{% endblock %}
		{% block tag_scripts %}{% endblock %}
		{% block tag_analytics_scripts %}
		{% autoescape false %}{{ ANALYTICS_CODE }}{% endautoescape %}
		{% endblock %}
	</body>
</html>
